* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*header*/

.header {
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 15px;
    text-align: center;
    color: black;
}

.header h1 {
    font-size: 6vw;
}


/*one-column*/

.one-column {
    float: left;
    width: 100%;
    padding: 10%;
}

.one-column h1 {
    font-size: 4vw;
    text-align: center;
}


/*four-column*/

.four-column {
    float: left;
    width: 25%;
    padding: 2%;
}

.four-column img {
    display: block;
    width: 100%;
    margin: auto;
}


/*Table*/

#section-2 {
    text-align: center;
}

.padding-30 {
    padding-top: 1px;
}

@media screen and (max-width:600px) {
    .header,
    .one-column {
        width: 100%;
    }
    .four-column {
        width: 50%;
    }
}